name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner,, }}/blackjack:latest .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/blackjack:latest

      - name: Trigger Render deploy
        run: |
          curl -X POST \
          -H "Accept: application/json" \
          -H "Content-Type: application/json" \
          -u "${{ secrets.RENDER_EMAIL }}:${{ secrets.RENDER_PASSWORD }}" \
          https://api.render.com/v1/services/srv-d5f3ia3uibrs7393qmog/deploys
